# Ignore everything
*

# But not these files...
!*.c
!*.h

# Also, do not ignore directories
!*/

# Ignore hidden directories specifically
.**/
# But allow .gitignore
!.gitignore

# Include data folder
!data/**